@{
    ViewData["Title"] = "Gallery";
}
<div class="main-area text-center">
    <h1>@ViewData["Title"]</h1>
    <div id="GalleryCate" class="gallery-cateloge">
        <div class="gallery-cateloge-btn active">A</div>
        <div class="gallery-cateloge-btn">B</div>
        <div class="gallery-cateloge-btn">C</div>
    </div>
    <div id="GalleryDesc" class="gallery-desc">
        aniMath自學網
    </div>
    <div class="content-area">
        <div id="GalleryLbt" class="gallery-l-btn ds-none"></div>
        <div id="GalleryPic" class="gallery-pic"><img src="/images/gallery/a/a01.png"></div>
        <div id="GalleryRbt" class="gallery-r-btn ds-none"></div>
        <div id="GalleryPag" class="gallery-page">12 / 12</div>
        <div id="GalleryTxt" class="gallery-text">123</div>
    </div>
</div>
<script> GetGalleryPic(); </script>