@{
    ViewData["Title"] = "Profile";
}

<div class="main-area text-center">
    <h1>@ViewData["Title"]</h1>
    <div class="content-area">
        <div class="profile-right"><img src='images/me.jpg'></div>
        <div class="profile-left">
            <div class="profile-left-content">
                <p>您好，我叫洪宗賢，我是一個程式設計師。</p>
                <p class="text-indent">
                    我的工作經歷：</br>
                    網頁程式設計師-1年</br>
                    Flash遊戲程式設計師-7年</br>
                    APP程式設計師(以Flash開發)-1年</br>
                    前端開發工程師-1年</br>
                    PHP後端程式設計師-1.5年</br>
                </p>                
                <p class="text-indent">
                    我的技能：</br>
                    Flash ActionScript</br>
                    JavaScript</br>
                    CSS</br>
                    PHP</br>
                    MySQL</br>
                    Laravel</br>
                </p>
            </div>
        </div>
    </div>
</div>
